<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>New Movie</h2>
		</div>	
		<%= render "form" %>	
	</div>
</div>
<%= link_to 'Back', movies_path, class: "btn btn-primary"%>


